@font-face {
  font-family: Fuente Titulo;
  src: url(../fonts/OpenSans_Condensed-ExtraBoldItalic.ttf);
}
@font-face {
  font-family: parrafo;
  src: url(../fonts/LTBinaryNeue.ttf);
}
@font-face {
  font-family: footer;
  src: url(../fonts/CaviarDreams.ttf);
}
@font-face {
  font-family: contact;
  src: url(../fonts/Quicksand_Dash.otf);
}
@font-face {
  font-family: contactp;
  src: url(../fonts/Quicksand_Bold.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Open Sans, sans-serif;
}

body {
  height: 100vh;
}

main {
  background-color: #EEE5E9;
  display: flex;
  flex-wrap: wrap;
}

/* header*/
header {
  position: static;
  top: 0px;
  padding: 0 2rem;
  background-image: url(https://images.unsplash.com/photo-1575980202155-18b6c1e49169?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
  width: 100%;
  border-bottom-style: solid;
  border-bottom-color: #14080E;
}

.navbar {
  width: 100%;
  height: 125px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar a {
  text-decoration: none;
  color: #c7f9cc;
  font-size: 1rem;
  font-weight: bolder;
}
.navbar a:hover {
  color: #38a3a5;
}
.navbar .logo {
  gap: 2px;
  display: flex;
}
.navbar .logo img {
  width: 70px;
  padding-top: 1.5rem;
}
.navbar .logo a {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Comfortaa", sans-serif;
  padding-top: 2.5rem;
}
.navbar .links {
  display: flex;
  gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 20px;
}
.navbar .links li {
  list-style: none;
  border-right-style: solid;
  border-color: slategrey;
  padding-right: 2px;
}
.navbar .boton {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}
.navbar .action_btn {
  background: #E6AA68;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
}
.navbar .action_btn:hover {
  scale: 1.05;
  color: #EEE5E9;
}
.navbar .action_btn:active {
  scale: 0.95;
}
.navbar a:hover {
  color: #38a3a5;
}

/*Barra de navacion*/
.barra_navegacion {
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0%;
  width: 300px;
  background: #171D1C;
  border-style: double;
  border-width: 0;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 3vh;
}
.barra_navegacion.open {
  height: 280px;
  border-width: 5px;
}
.barra_navegacion li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  border-right-style: solid;
  border-color: slategrey;
  padding-right: 2px;
}
.barra_navegacion li a {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-decoration: none;
}
.barra_navegacion .action_btn {
  width: 100%;
  display: flex;
  justify-content: center;
  background: #16BAC5;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
}

/*Index*/
.titulo {
  display: flex;
  justify-content: center;
  align-items: first baseline;
}
.titulo img {
  width: 100px;
}
.titulo h1 {
  font-size: 5rem;
}
.titulo .marine {
  color: aqua;
  font-family: "Comfortaa", sans-serif;
}
.titulo .life {
  color: #c7f9cc;
  font-family: Fuente Titulo;
}

.presentacion {
  display: grid;
  grid-template-areas: "titulo foto" "texto foto";
  justify-content: space-between;
}
.presentacion h2 {
  grid-area: titulo;
  text-align: center;
  font-size: 3rem;
  border-bottom-style: double;
}
.presentacion p {
  grid-area: texto;
  margin: 5px;
  font-family: parrafo;
}
.presentacion img {
  grid-area: foto;
  border-radius: 2vh;
}

.agua_dulce {
  display: grid;
  grid-template-areas: "foto1 titulo1" "foto1 texto1";
}
.agua_dulce img {
  grid-area: foto1;
}
.agua_dulce h2 {
  grid-area: titulo1;
  text-align: center;
  font-size: 3rem;
  border-bottom-style: double;
  align-self: center;
}
.agua_dulce p {
  grid-area: texto1;
  text-align: center;
  font-family: parrafo;
}

.marinos {
  display: grid;
  grid-template-areas: "titulo2 foto2" "texto2 foto2";
  border-top-style: ridge;
}
.marinos h2 {
  text-align: center;
  grid-area: titulo2;
  border-bottom-style: double;
  align-self: center;
  font-size: 3rem;
}
.marinos p {
  grid-area: texto2;
  font-family: parrafo;
}
.marinos img {
  grid-area: foto2;
  width: 500px;
}

/*Galeria de fotos*/
.galeria {
  margin-bottom: 2rem;
  height: 840px;
  display: grid;
  grid-template-areas: "tituloGaleria" "fotoGaleria";
}
.galeria h1 {
  text-align: center;
  font-family: footer;
  font-size: 5rem;
  color: steelblue;
  grid-area: tituloGaleria;
}
.galeria .imagenes {
  display: flex;
  height: 700px;
  grid-area: fotoGaleria;
  text-align: center;
}
.galeria .imagenes img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  transition: 0.5s ease;
  grid-area: fotoGaleria;
}
.galeria .imagenes img:hover {
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}

/*contacto*/
.contactanos {
  background-color: #2A2B2A;
  color: #c7f9cc;
  max-width: 1170px;
}
.contactanos h1 {
  font-family: contact;
  text-align: center;
  font-size: 3em;
}
.contactanos .contacto_informacion {
  box-shadow: 0 0 20px 0 #c6ddf0;
}
.contactanos .contacto_informacion .contacto_informacion > * {
  padding: 1em;
}
.contactanos .contacto_informacion .datos {
  padding-left: 20px;
  background-color: #222222;
}
.contactanos .contacto_informacion .datos h2 {
  font-family: contactp;
  color: #38a3a5;
  text-align: center;
}
.contactanos .contacto_informacion .datos h2 span {
  font-family: contact;
  color: #E6AA68;
}
.contactanos .contacto_informacion .datos form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contactanos .contacto_informacion .datos form .texto {
  grid-column: 1/3;
}
.contactanos .contacto_informacion .datos form p {
  margin: 0;
  padding: 1em;
}
.contactanos .contacto_informacion .datos form p label {
  font-family: contactp;
}
.contactanos .contacto_informacion .datos form p button {
  width: 100%;
  padding: 1em;
  background: #CB8589;
}
.contactanos .contacto_informacion .datos form p input {
  width: 100%;
  border: none;
  padding: 1em;
  background: none;
  border-bottom: 1px solid #CB8589;
  color: #c6ddf0;
}
.contactanos .contacto_informacion .datos form p textarea {
  width: 100%;
  border: none;
  padding: 1em;
  background: none;
  border-bottom: 1p solid #CB8589;
  color: #c6ddf0;
}
.contactanos .contacto_informacion .informacion {
  background-color: #4D6CFA;
}
.contactanos .contacto_informacion .informacion h3 {
  text-align: center;
  margin: 0 0 1rem 0;
}
.contactanos .contacto_informacion .informacion ul {
  text-align: center;
  margin: 0 0 1rem 0;
  list-style: none;
  padding: 0;
}
.contactanos .contacto_informacion .informacion ul li {
  padding: 0.3em;
}
.contactanos .contacto_informacion .informacion p {
  text-align: center;
  margin: 0 0 1rem 0;
}

/*Informacion*/
.page_informacion .acuariofilia {
  padding: 2rem;
}
.page_informacion .acuariofilia h1 {
  text-align: center;
  font-family: parrafo;
  color: #6BA292;
}
.page_informacion .acuariofilia p {
  font-family: contactp;
}
.page_informacion .cuidados_marinos {
  background-color: #A7754D;
  padding: 2rem;
  display: grid;
  grid-template-areas: " titulo titulo" " texto foto";
}
.page_informacion .cuidados_marinos h2 {
  color: #01295F;
  font-family: parrafo;
  text-align: center;
  grid-area: titulo;
}
.page_informacion .cuidados_marinos ul li {
  font-family: contactp;
  grid-area: texto;
  padding-bottom: 9px;
}
.page_informacion .cuidados_marinos img {
  grid-area: foto;
  width: 600px;
  align-self: center;
  border-radius: 2vh;
}
.page_informacion .cuidados_adulce {
  padding: 2rem;
  display: grid;
  grid-template-areas: "titulo titulo" "foto texto";
}
.page_informacion .cuidados_adulce h2 {
  color: #01295F;
  font-family: parrafo;
  text-align: center;
  grid-area: titulo;
}
.page_informacion .cuidados_adulce ul li {
  font-family: contactp;
  grid-area: texto;
  padding-bottom: 9px;
}
.page_informacion .cuidados_adulce img {
  grid-area: foto;
  align-self: center;
}
.page_informacion .cuidados {
  background-color: #A7754D;
  padding: 2rem;
}
.page_informacion .cuidados h2 {
  color: #01295F;
  text-align: center;
  font-family: parrafo;
}
.page_informacion .cuidados p {
  font-family: contactp;
}
.page_informacion .cuidados ol li {
  font-family: contactp;
  padding-bottom: 9px;
}

/*Footer*/
footer {
  background-image: url(../image/background\ footer.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 0.5rem;
  border-top-style: double;
  margin: 0;
}

.pie {
  display: flex;
  height: 125px;
}

.contacto {
  border-right-style: double;
}
.contacto h2 {
  text-align: center;
  font-family: footer;
}
.contacto .telefono {
  display: flex;
}
.contacto .telefono img {
  width: 30px;
}
.contacto .telefono p {
  font-family: parrafo;
}

.contacto .mail {
  display: flex;
}
.contacto .mail img {
  width: 30px;
}
.contacto .mail p {
  font-family: parrafo;
}

.redes {
  border-right-style: double;
}
.redes h2 {
  font-family: footer;
  text-align: center;
}
.redes .facebook {
  display: flex;
  align-items: center;
}
.redes .facebook img {
  width: 30px;
}
.redes .facebook p a {
  font-family: "Comfortaa", sans-serif;
  text-decoration: none;
  align-self: center;
  color: #14080E;
  margin-left: 20px;
}
.redes .facebook p:hover {
  scale: 1.03;
}
.redes .instagram {
  display: flex;
  align-items: center;
}
.redes .instagram img {
  width: 30px;
}
.redes .instagram p a {
  font-family: "Comfortaa", sans-serif;
  text-decoration: none;
  color: #14080E;
  text-align: center;
  margin-left: 20px;
}
.redes .instagram p:hover {
  scale: 1.03;
}

.ubicacion {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ubicacion .titulo_ubicacion {
  display: flex;
  justify-content: center;
}
.ubicacion .titulo_ubicacion img {
  width: 40px;
}
.ubicacion .titulo_ubicacion h2 {
  text-align: center;
  font-family: footer;
}
.ubicacion .padre_mapa {
  display: flex;
  justify-content: center;
  margin-bottom: 7px;
}
.ubicacion .padre_mapa .mapa {
  height: 115px;
}

/*resposive designs*/
@media (max-width: 992px) {
  header {
    position: static;
  }
  .navbar .links, .navbar .action_btn {
    display: none;
  }
  .navbar .boton {
    display: block;
  }
  .barra_navegacion {
    display: block;
  }
  .titulo img {
    width: 75px;
  }
  .titulo h1 {
    font-size: 2rem;
  }
  .presentacion img, .agua_dulce img, .marinos img {
    width: 200px;
  }
  .presentacion h2, .agua_dulce h2, .marinos h2 {
    font-size: 16px;
  }
  .presentacion p, .agua_dulce p, .marinos p {
    font-size: 10px;
  }
  .page_informacion {
    font-size: 0.7rem;
  }
  .page_informacion .cuidados_marinos img {
    width: 0px;
  }
  .page_informacion .cuidados_adulce img {
    width: 0px;
  }
  /*Footer responsive*/
  .pie {
    display: block;
    height: auto;
  }
  .contacto, .redes, .ubicacion {
    display: inline;
    width: 100%;
    border-style: none;
  }
}
@media (min-width: 700px) {
  .contactanos .contacto_informacion {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .contactanos .contacto_informacion > * {
    padding: 2em;
  }
  .contactanos .contacto_informacion > * {
    padding: 2em;
  }
  .contactanos .informacion h3 {
    text-align: left;
    padding: 1em;
  }
  .contactanos .informacion ul {
    text-align: left;
    padding: 1em;
  }
  .contactanos .informacion p {
    text-align: left;
    padding: 1em;
  }
}

/*# sourceMappingURL=style.css.map */
