@font-face {
  font-family: Fuente Titulo;
  src: url(../fonts/OpenSans_Condensed-ExtraBoldItalic.ttf);
}

@font-face {
  font-family: parrafo;
  src: url(../fonts/LTBinaryNeue.ttf);
}
@font-face {
  font-family: footer;
  src: url(../fonts/CaviarDreams.ttf);
}
@font-face {
  font-family: contact;
  src: url(../fonts/Quicksand_Dash.otf);
}
@font-face {
  font-family: contactp;
  src: url(../fonts/Quicksand_Bold.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Open Sans , sans-serif;
  }
  
  body {
    height: 100vh;
  }
  main {
    background-color: #EEE5E9; 
    display: flex;
    flex-wrap: wrap;
  }
  
  
  /* header*/
  
  header {
    position: static;
    top: 0px;
    padding: 0 2rem;
    background-image: url(https://images.unsplash.com/photo-1575980202155-18b6c1e49169?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    width: 100%;
    border-bottom-style: solid;
    border-bottom-color: #14080E;
  }
  
  .navbar {
    width: 100%;
    height: 125px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    a {
      text-decoration: none;
      color: #c7f9cc;
      font-size: 1rem;
      font-weight: bolder;
  
      &:hover {
        color: #38a3a5;
      }
    }
  
    .logo {
      gap: 2px;
      display: flex;
  
      img {
        width: 70px;
        padding-top: 1.5rem;
      }
  
      a {
        font-size: 2rem;
        font-weight: bold;
        font-family: 'Comfortaa', sans-serif;
        padding-top: 2.5rem;
      }
    }
  
    .links {
      display: flex;
      gap: 2rem;
      padding-top: 2rem;
      padding-bottom: 20px;

      li{
        list-style: none;
        border-right-style: solid;
        border-color: slategrey;
        padding-right: 2px;
      }
    }
  
    .boton {
      color: white;
      font-size: 1.5rem;
      cursor: pointer;
      display: none;
    }
  
    .action_btn {
      background: #E6AA68;
      color: #fff;
      padding: 0.5rem 1rem;
      border: none;
      outline: none;
      border-radius: 20px;
      font-size: 2rem;
      font-weight: bold;
      cursor: pointer;
      transition: scale 0.2 ease;
  
      &:hover {
        scale: 1.05;
        color: #EEE5E9;
      }
  
      &:active {
        scale: 0.95;
      }
    }
  
    a:hover {
      color: #38a3a5;
    }
  }
  /*Barra de navacion*/

.barra_navegacion {
  position:absolute;
    right: 2rem;
    top: 60px;
    height: 0%;
    width: 300px;
    background: #171D1C;
    border-style: double;
    border-width: 0;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-radius: 3vh;
    &.open{
        height: 280px;
        border-width: 5px;
    }
    li {
      padding: 0.7rem;
      display: flex;
      align-items: center;
      justify-content: center;
      list-style: none;
      border-right-style: solid;
      border-color: slategrey;
      padding-right: 2px;
      a {
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        text-decoration: none;
      }
    }
  
    .action_btn {
      width: 100%;
      display: flex;
      justify-content: center;
      background: #16BAC5;
      color: #fff;
      padding: 0.5rem 1rem;
      border: none;
      outline: none;
      border-radius: 20px;
      font-size: 2rem;
      font-weight: bold;
      cursor: pointer;
      transition: scale 0.2 ease;
  
    }
  }
  /*Index*/
  .titulo {
    display: flex;
    justify-content: center;
    align-items: first baseline;
  
    img {
      width: 100px;
    }
  
    h1 {
      font-size: 5rem;
    }
  
    .marine {
      color: aqua;
      font-family: 'Comfortaa', sans-serif;
    }
  
    .life {
      color: #c7f9cc;
      font-family: Fuente Titulo;
    }
  }
  
  .presentacion {
    display: grid;
    grid-template-areas: "titulo foto" "texto foto";
    justify-content: space-between;
  
    h2 {
      grid-area: titulo;
      text-align: center;
      font-size: 3rem;
      border-bottom-style: double;
    }
  
    p {
      grid-area: texto;
      margin: 5px;
      font-family: parrafo;
    }
  
    img {
      grid-area: foto;
      border-radius: 2vh;
    }
  }
  
  .agua_dulce {
    display: grid;
    grid-template-areas: "foto1 titulo1" "foto1 texto1";
  
    img {
      grid-area: foto1;
    }
  
    h2 {
      grid-area: titulo1;
      text-align: center;
      font-size: 3rem;
      border-bottom-style: double;
      align-self: center;
    }
  
    p {
      grid-area: texto1;
      text-align: center;
      font-family: parrafo;
    }
  }
  
  .marinos {
    display: grid;
    grid-template-areas: "titulo2 foto2" "texto2 foto2";
    border-top-style: ridge;
  
    h2 {
      text-align: center;
      grid-area: titulo2;
      border-bottom-style: double;
      align-self: center;
      font-size: 3rem;
    }
  
    p {
      grid-area: texto2;
      font-family: parrafo;
    }
  
    img {
      grid-area: foto2;
      width: 500px;
    }
  }

  /*Galeria de fotos*/

.galeria {
    margin-bottom: 2rem;
    height: 840px;
    display: grid;
    grid-template-areas: 
    "tituloGaleria"
    "fotoGaleria"
    ;
    h1 {
      text-align: center;
      font-family: footer;
      font-size: 5rem;
      color: steelblue;
      grid-area: tituloGaleria;
    }
    .imagenes {
        display: flex;
        height: 700px;
        grid-area: fotoGaleria;
        text-align: center;
      
    img {
      width: 0px;
      flex-grow: 1;
      object-fit: cover;
      transition: 0.5s ease;
      grid-area: fotoGaleria;
  
      &:hover {
        cursor: crosshair;
        width: 300px;
        opacity: 1;
        filter: contrast(120%);
      }
    }
  
    }
  }
  /*contacto*/
.contactanos{
    margin: 20px auto;
    background-color: #2A2B2A;
    color: #c7f9cc;
    max-width: 1170px;
    border-radius: 2vh;
       h1{
      font-family: contact;
      text-align: center;
      font-size: 3em;

    }
    .contacto_informacion{
      box-shadow: 0 0 20px 0 #c6ddf0;
      .contacto_informacion > * {
        padding: 1em;
      }
      .datos{
        padding-left: 20px;
        background-color: #222222;
        h2{
          font-family: contactp;
          color: #38a3a5;
          text-align: center;
          span{
            font-family: contact;
            color: #E6AA68;
          }
        }
          form{
            display: grid;
            grid-template-columns: 1fr 1fr;
            .texto{
              grid-column: 1 / 3;
            }
            p{
              margin: 0;
              padding: 1em;
              label{
                font-family: contactp;
              }
              button{
                width: 100%;
                padding: 1em;
                background: #CB8589;

              }

              input{
                width: 100%;
                border: none;
                padding: 1em;
                background: none;
                border-bottom: 1px solid #CB8589;
                color: #c6ddf0;
                
              }
              textarea{
                width: 100%;
                border: none;
                padding: 1em;
                background: none;
                border-bottom: 1px solid #CB8589;
                color: #c6ddf0;
              }
            }
          }        
      }
      .informacion{
        background-color: #4D6CFA;
        h3{
          text-align: center;
          margin: 0 0 1rem 0;
        }
        ul{
          text-align: center;
          margin: 0 0 1rem 0;
          list-style: none;
          padding: 0;
          li{
            padding: 0.3em;
          }
        }
        p{
          text-align: center;
          margin: 0 0 1rem 0;
        }
      }
    }

  }
  /*Informacion*/
  .page_informacion{
    .acuariofilia{
      padding: 2rem;    
      h1{
        text-align: center;
        font-family: parrafo;
        color: #6BA292;       
      }
      p{
        font-family: contactp;      
      } 
    }
    .cuidados_marinos{
       background-color: #A7754D;
      padding: 2rem;
      display: grid;
      grid-template-areas: 
      " titulo titulo"
      " texto foto"   
      ;
      h2{
        color: #01295F;
        font-family: parrafo;
        text-align: center;
        grid-area: titulo;
      }
      ul{
        li{
        font-family: contactp;
        grid-area: texto;
        padding-bottom: 9px;
        }
      }
      img{
        grid-area: foto;
        width: 600px;
        align-self: center;
        border-radius: 2vh;
      }
    }
    .cuidados_adulce{

      padding: 2rem;
      display: grid;
      grid-template-areas: 
      "titulo titulo"
      "foto texto"
      ;
      h2{
        color: #01295F;
        font-family: parrafo;
        text-align: center;
        grid-area: titulo;  
      }
      ul{
        li{
          font-family: contactp;
          grid-area: texto;
          padding-bottom: 9px;
        }
      }
      img{
        grid-area: foto;
        align-self: center;
      }
    }
    .cuidados{
      background-color: #A7754D;
      padding: 2rem;
      h2{
        color: #01295F;
        text-align: center;
        font-family: parrafo;
      }
      p{
        font-family: contactp;
      }
      ol{
        li{
          font-family: contactp;
          padding-bottom: 9px;
        }
      }
    }
  }
  /*Produtos*/
  .titulo_producto{
    justify-self: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 150px;
    h1{
      font-family: parrafo;
    }
    i{
      align-self: center;
      font-size: 40px;
    }
  }
  .productos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
    
    .carrito{
      border-radius: 10px;
      margin: 30px;
      figure{
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        img{
          width: 270px ;
          height: 250px;
          object-fit: cover;
          border-radius: 10px;
          border-top-left-radius: 60px;
          transition: 1s;
        }
      }
      .producto_precio{
        padding: 25px;
        gap: 5px;
        text-align: center;
        line-height: 2;
        display: flex;
        flex-direction: column;
        .titulo_carrito{
          color: #CB8589;
          font-family: contactp;
        }
        p{
          font-size: 1.5rem;
          font-weight: bolder;
        }
        button{
          border: none;
          background-color: #cb8530;
          color: #fff;
        }
      }
      
      &:hover{
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
      }
      &:hover img{
        transform: scale(1.2);
      }
    }
  }
  /*Footer*/
    footer {
    background-image: url(../image/background\ footer.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 0.5rem;
    border-top-style: double;
    margin: 0;
  }
  
  .pie {
    display: flex;
    height: 125px;
  }
  
  .contacto {
    border-right-style: double;
    h2 {
      text-align: center;
      font-family: footer;
    }
  
    .telefono {
      display: flex;
      img {
        width: 30px;
      }
    
      p {
        font-family: parrafo;
      }
    }
  }
  
  
  .contacto .mail {
    display: flex;
  
    img {
      width: 30px;
    }
  
    p {
      font-family: parrafo;
    }
  }
  
  .redes {
    border-right-style: double;
  
    h2 {
      font-family: footer;
      text-align: center;
    }
  
    .facebook {
      display: flex;
      align-items: center;
  
      img {
        width: 30px;
      }
  
      p {
        a {
          font-family: 'Comfortaa', sans-serif;
          text-decoration: none;
          align-self: center;
          color: #14080E;
          margin-left: 20px;
        }
  
        &:hover {
          scale: 1.03;
        }
      }
    }
  
    .instagram {
      display: flex;
      align-items: center;
  
      img {
        width: 30px;
      }
  
      p {
        a {
          font-family: 'Comfortaa', sans-serif;
          text-decoration: none;
          color: #14080E;
          text-align: center;
          margin-left: 20px;
        }
  
        &:hover {
          scale: 1.03;
        }
      }
    }
  }
  
  .ubicacion {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    .titulo_ubicacion {
      display: flex;
      justify-content: center;
  
      img {
        width: 40px;
      }
  
      h2 {
        text-align: center;
        font-family: footer;
      }
    }
  
    .padre_mapa {
      display: flex;
      justify-content: center;
      margin-bottom: 7px;
  
      .mapa {
        height: 115px;
      }
    }
}
/*resposive designs*/
@media (max-width: 992px) {
    header{
        position: static;
    }
    .navbar {
      .links, .action_btn {
        display: none;
      }
  
      .boton {
        display: block;
      }
    }
  
    .barra_navegacion {
      display: block;
    }
  
    .titulo {
      img {
        width: 75px;
      }
  
      h1 {
        font-size: 2rem;
      }
    }
  
    .presentacion, .agua_dulce, .marinos {
      img {
        width: 200px;
      }
  
      h2 {
        font-size: 16px;
      }
  
      p {
        font-size: 10px;
      }
    }
    
    .page_informacion{
      font-size: 0.7rem;
      .cuidados_marinos{

        img{
          width: 0px;
        }
      }
      .cuidados_adulce{

        img{
          width: 0px;
        }
      }
    }
    .productos{
      grid-template-columns: repeat(2,1fr);
    }
    /*Footer responsive*/
  
    .pie {
      display: block;
      height: auto;
    }
  
    .contacto, .redes, .ubicacion {
      display: inline;
      width: 100%;
      border-style: none;
    }
  }
  @media (max-width: 700px){
    .titulo_producto{
      justify-content: space-evenly;
    }
    .productos{
      grid-template-columns: repeat(1,1fr);
    }
  }
  @media (min-width: 700px) {
    .contactanos{
      .contacto_informacion{
        display: grid;
        grid-template-columns: 2fr 1fr;
      }
      .contacto_informacion > *{
        padding: 2em;
      }
      .contacto_informacion > *{
        padding: 2em;
      }
      .informacion{
        h3{
          text-align: left;
          padding: 1em;
        }
        ul{
          text-align: left;
          padding: 1em;
        }
        p{
          text-align: left;
          padding: 1em;
        }
      }
    }
  }
  